<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Open_Animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Inventory"></activity>
        <activity android:name=".Login">
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".addItem" />
        <activity android:name=".addUser" />
        <activity android:name=".Add_Recipe_Name" />
        <activity android:name=".Add_Ingredients" />
        <activity android:name=".Add_Recipe_Direction" />
        <activity android:name=".Recipe_Main" />
        <activity android:name=".InventoryInfo"/>

        <activity android:name=".Grocery"/>

        <activity android:name=".RecipeInfoActivity"></activity>

    </application>

</manifest>